<label>Show temperatures:</label>
<input type="checkbox" ng-model="showTemps">
<br>

<label>Show forecast times:</label>
<span ng-repeat="freq in forecastFreqs" ng-if="freq >= availableForecastFreq">
  <input type="radio" ng-model="$parent.$parent.forecastFreq" value="{{freq}}">Every {{freq}} hr
</span>
<br>

<button ng-click="onEarlier()">Earlier</button>
<button ng-click="onLater()">Later</button>
<br>

<label>Show ahead times:</label>
<span ng-repeat="freq in aheadFreqs">
  <input type="radio" ng-model="$parent.aheadFreq" value="{{freq}}">Every {{freq}} hr
</span>
<br>
<br>

<div ng-repeat="(rowIndex, aheadIndex) in ['day-row', 'time-row'].concat(aheadIndices)" ng-switch on="aheadIndex">

  <div ng-switch-when="day-row">
    <div ng-repeat="(colIndex, day) in forecastDays track by day.name">
      ({{rowIndex}}, {{day.previousForecastCount}}): {{day.name}}
     </div>
  </div>
  
  <div ng-switch-when="time-row">
    <div ng-repeat="(colIndex, forecastIndex) in forecastIndices">
      ({{rowIndex}}, {{colIndex}}): {{forecastTimes[forecastIndex] | date: 'ha'}}
    </div>
  </div>
  
  <div ng-switch-default>
    <div ng-repeat="(colIndex, forecastIndex) in forecastIndices" ng-init="forecast = forecasts[forecastIndex][aheadIndex]">
      ({{rowIndex}}, {{colIndex}}): {{forecast.temp}}
    </div>
  </div>
</div>

<div id="forecast-table">

  <!-- Day row -->
  <div ng-repeat="forecastDay in forecastDays track by forecastDay.name" ng-style="getCellStyle({ col: forecastDay.previousForecastCount + 1, row: 0, colspan: forecastDay.forecastCount });" class="forecast-day forecast-div-animation">
    {{forecastDay.name}}
  </div>
  
  <!-- Ahead time column -->
  <div ng-repeat="aheadIndex in aheadIndices" ng-style="getCellStyle({ col: 0, row: $index + 1 });" class="ahead-time forecast-div-animation">
    <span ng-if="$first">Actual</span>
    <span ng-if="!$first">{{aheadTimes[aheadIndex]}}hr</span>
  </div>
  
  <!-- Forecast columns -->
  <div ng-repeat="(outerIndex, forecastIndex) in forecastIndices" style="width: {{100 / (forecastIndices.length + 1)}}%" class="forecast-column forecast-div-animation">
  
    <!-- Forecast time row -->
    <div ng-style="getCellStyle({ col: $index + 1, row: 0.5 });" class="forecast-time forecast-div-animation">
      {{forecastTimes[forecastIndex] | date: 'ha'}}
    </div>
    
    <!-- Forecast row -->
    <div ng-repeat="aheadIndex in aheadIndices" ng-init="fc = forecasts[forecastIndex][aheadIndex]" ng-style="getCellStyle({ col: outerIndex + 1, row: $index + 1 });" class="forecast forecast-div-animation {{fc.weather_icon_name}}">
      <span ng-if="fc.query_time">
        <span ng-if="showTemps">{{fc.temp}}&deg;C</span>
      </span>
    </div>
    
  </div>
</div>