<div id="controls" ng-init="menuOpacity = 0" ng-mouseleave="menuOpacity = 0">

  <div ng-mouseenter="menuOpacity = 1" id="controls-button" class="fa fa-cog"></div>
  
  <div id="controls-menu" ng-style="{ opacity: menuOpacity }">
    
    <div class="button-bar">
      <div>Temperatures</div>
      <div>
        <div ng-click="showTemps = true" ng-class="{ selected: showTemps }" class="bar-button">Show</div>
        <div ng-click="showTemps = false" ng-class="{ selected: !showTemps }" class="bar-button">Hide</div>
      </div>
    </div>
    
    <br><br>  
    
    <div class="button-bar">
      <div>Show forecast times every (hours)</div>
      <div ng-repeat="freq in forecastFreqs" ng-if="freq >= availableForecastFreq" ng-click="$parent.$parent.forecastFreq = freq" ng-class="{ selected: freq == forecastFreq }" class="bar-button">
        {{freq}}
      </div>
    </div>
    
    <br><br>
    
    <div class="button-bar clearfix">
      <div>Show ahead time every (hours)</div>
      <div ng-repeat="freq in aheadFreqs" ng-click="$parent.aheadFreq = freq" ng-class="{ selected: freq == aheadFreq }" class="bar-button">
        {{freq}}
      </div>
    </div>
  </div>

</div>

<div ng-click="onEarlier()" id="earlier" class="chevron fa fa-chevron-left"></div>
<div ng-click="onLater()" id="later" class="chevron fa fa-chevron-right"></div>

<div id="forecast-table">
  <div ng-repeat="(rowIndex, aheadIndex) in ['day-row', 'time-row'].concat(aheadIndices)" ng-switch on="aheadIndex" class="animate">
  
    <div ng-switch-when="day-row">
      <div ng-repeat="(colIndex, day) in ['ahead-column'].concat(forecastDays) track by day.name" ng-if="day.name" ng-style="getLayoutStyle({ col: day.previousForecastCount + 1, row: rowIndex, colspan: day.forecastCount });" class="day-cell animate background">
        <div class="vertical-center day">
          {{day.name}}
        </div>
      </div>
    </div>
    
    <div ng-switch-when="time-row">
      <div ng-repeat="(colIndex, forecastIndex) in ['ahead-column'].concat(forecastIndices)" ng-if="forecastTimes[forecastIndex]" ng-style="getLayoutStyle({ col: colIndex, row: rowIndex });" class="time-cell animate background">
        <div class="vertical-center time">
          {{forecastTimes[forecastIndex] | date: 'ha'}}
        </div>
      </div>
    </div>
    
    <div ng-switch-default>
      <div ng-repeat="(colIndex, forecastIndex) in ['ahead-column'].concat(forecastIndices)" ng-init="forecast = forecasts[forecastIndex][aheadIndex]" ng-switch on="forecastIndex" class="animate">
      
        <div ng-switch-when="ahead-column" ng-style="getLayoutStyle({ col: colIndex, row: rowIndex });" class="ahead-cell animate background">
          <div ng-if="aheadIndex === 0" class="vertical-center ahead">Actual</div>
          <div ng-if="aheadIndex !== 0" class="vertical-center ahead">{{aheadTimes[aheadIndex]}}hr</div>
        </div>
        
        <div ng-switch-default ng-style="getLayoutStyle({ col: colIndex, row: rowIndex });" class="forecast-cell animate background">
          <div ng-if="forecast.query_time" class="vertical-center forecast">
            <div class="{{forecast.weather_icon_name}}"></div>
            <div ng-if="showTemps" class="temperature">{{forecast.temp}}&deg;C</div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>