<div ng-controller="ReportCtrl">
  
  <label>Show temperatures:</label>
  <input type="checkbox" ng-model="showTemps">
  <br>
  
  <label>Show forecast times:</label>
  <span ng-repeat="freq in forecastFreqs" ng-if="freq >= availableForecastFreq">
    <input type="radio" ng-model="$parent.$parent.forecastFreq" value="{{freq}}">Every {{freq}} hr
  </span>
  <br>
  
  <button ng-click="onEarlier()">Earlier</button>
  <button ng-click="onLater()">Later</button>
  <br>
  
  <label>Show ahead times:</label>
  <span ng-repeat="freq in aheadFreqs">
    <input type="radio" ng-model="$parent.aheadFreq" value="{{freq}}">Every {{freq}} hr
  </span>
  <br>
  <br>
  
  <table>
    <!-- Day row -->
    <!-- tr>
      <th rowspan="2"></th>
      <th ng-repeat="forecastDay in forecastDays" colspan="{{forecastDay.forecastCount}}">
        {{forecastDay.name}}
      </th>
    </tr -->
    <!-- Time row -->
    <tr>
      <th></th>
      <th ng-repeat="forecastTime in forecastTimes" ng-if="shouldShowForecast($index)" class="forecast-animation">
        {{forecastTime | date: 'ha'}}
      </th>
    </tr>
    <!-- Forecast rows -->
    <tr ng-repeat="(aheadIndex, aheadTime) in aheadTimes" ng-if="shouldShowAheadTime($index)">
      <th>        
        <span ng-if="$first">Actual</span>
        <span ng-if="!$first">{{aheadTime}}hr</span>
      </th>
      <td ng-repeat="(forecastIndex, forecastTime) in forecasts" ng-if="shouldShowForecast($index)" ng-init="fc = forecasts[forecastIndex][aheadIndex]" class="forecast-animation {{fc.weather_icon_name}}">
        <!-- If non-empty forecast -->
        <span ng-if="fc.query_time">
          <span ng-if="showTemps">{{fc.temp}}&deg;C</span>
        </span>
      </td>
    </tr>
  </table>
  
</div>
