/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Report formatting */
table, th, td {
	border: 1px solid;
	/* border-spacing: 0; */
}

table {
	/* margin: auto; */
	width: 480px;
	table-layout: fixed; 
}

td {
	text-align: center;
}

/* Cells need to start off visible */
.forecast-table-animation {
	width: 80px;
    max-width: 80px;
}

#forecast-table {
	position: relative; /* Allow child elements to be positioned/sized relative to table */
	margin: auto;
	width: 62%;
}

.forecast-day,
.forecast-time,
.forecast {
	text-align: center;
}

.forecast-time,
.forecast {
	width: 100%;
}

/*
Animations:

All transitions last the same time. Leave is immediate, move is delayed until
leave completes, and enter is delayed until move completes.
*/
.forecast-div-animation {
	position: absolute;
	transition: transform 0.25s 0.25s ease-in-out, width 0.25s ease-in-out; /* ng-move */
	-webkit-transition: -webkit-transform 0.25s 0.25s ease-in-out, width 0.25s ease-in-out; /* ng-move */
}

.forecast-div-animation.ng-enter {
	transition: opacity 0.25s 0.5s ease-in-out;
	-webkit-transition: opacity 0.25s 0.5s ease-in-out;
	opacity: 0;
}

.forecast-div-animation.ng-enter-active {
	opacity: 1;
}

.forecast-div-animation.ng-leave {
	transition: opacity 0.25s 0s ease-in-out;
	-webkit-transition: opacity 0.25s 0s ease-in-out;
	opacity: 1;
}

.forecast-div-animation.ng-leave.ng-leave-active {
	opacity: 0;
}

/* Weather icons */
[class^="wi-"]:before,
[class*=" wi-"]:before {
	font-size: 2.5rem;
	display: block; /* Ensure weather icons appear on own line */
}
