/* app css stylesheet */
body {
	font-family: 'Open Sans', sans-serif;
}

html { 
  background: url('../img/clouds.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Report formatting */
header {
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 300;
}

#title {	
	font-size: 3em;
	margin-bottom: -0.2em;
}

#info-line {
	margin-bottom: 1em;
}

table, th, td {
	border: 1px solid;
	/* border-spacing: 0; */
}

table {
	/* margin: auto; */
	width: 480px;
	table-layout: fixed; 
}

td {
	text-align: center;
}

/* Cells need to start off visible */
.forecast-table-animation {
	width: 80px;
    max-width: 80px;
}

#controls {
	position: fixed;
	float: left;
	right: 5%;
	top: 7.5%;
	z-index: 100; /* Allow mouseleave to work properly */	
}

#controls-button {
	float: right;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, 0.66666666666);
	font-size: 2em;
}

#controls-button:hover {
	color: rgba(255, 255, 255, 0.8);
}

#controls-menu {
	clear: right;
	padding: 1rem; /* Root ems prevent content from jumping: why? */
	border-radius: 0.25em; /* 4px / 16px */ 
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

#controls-menu .bar-button {
	float: left;
	font-size: 80%;
	color: black;
	border: 1px solid #808080;
	padding: 0.125em 0.5em; /* 2px / 16px */ /* 8px / 16px */
	
	-webkit-background: -webkit-linear-gradient(#ffffff, #c8c8c8);
	background: linear-gradient(#ffffff, #c8c8c8);
	background-color: #e6e6e6 /* IE9 and earlier */
}

#controls-menu .bar-button.selected {
	text-decoration: underline;
	
	-webkit-background: -webkit-linear-gradient(#c8c8c8, #ffffff);
	background: linear-gradient(#c8c8c8, #ffffff);
	background-color: #919191 /* IE9 and earlier */
}

#controls-menu .bar-button:first-child {
	border-top-left-radius: 0.25em; /* 4px / 16px */ 
	border-bottom-left-radius: 0.25em; /* 4px / 16px */ 
}

#controls-menu .bar-button:last-child {
	border-top-right-radius: 0.25em; /* 4px / 16px */ 
	border-bottom-right-radius: 0.25em; /* 4px / 16px */ 
}

.clearfix:after {
   content: " "; /* Older browsers do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.chevron {
	position: fixed;
	
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	
	top: 50%;
	font-size: 5em;
	color: rgba(255, 255, 255, 0.66666666666);
}

.chevron:hover {
	color: rgba(255, 255, 255, 0.8);
}

#earlier {
	left: 2.5%;	
}

#later {
	right: 2.5%;	
}

#forecast-table {
	position: relative; /* Allow child elements to be positioned/sized relative to table */
	margin: auto;
	width: 80%;
	max-width: 800px; /* Prevent line lengths from getting too long */
}

@media only screen and (min-width: 1200px) {
	body {
		font-size: 110%;
	}	
	#forecast-table {
		width: 61.803398875%; /* (1 / golden-ratio) */		 
	}
	#earlier {
		left: 7.5%;	
	}
	
	#later {
		right: 7.5%;	
	}
}

@media only screen and (max-width: 1200px) {
	#forecast-table {
		width: 70%;
	}
}

@media only screen and (max-width: 1000px) {
	body {
		font-size: 90%;
	}
}

@media only screen and (max-width: 500px) {
	body {
		font-size: 75%;
	}
}

@media only screen and (max-width: 450px) {
	body {
		font-size: 70%;
	}
}

@media only screen and (max-width: 400px) {
	body {
		font-size: 65%%;
	}
}

@media only screen and (max-width: 360px) {
	[class^="wi-"]:before,
	[class*=" wi-"]:before {
		margin-bottom: -0.0625em; /* -1px / 16px */
	}
}

#forecast-table .ahead-cell,
#forecast-table .day-cell,
#forecast-table .time-cell {
	font-weight: bold;
}

#forecast-table .ahead-cell,
#forecast-table .day-cell,
#forecast-table .time-cell,
#forecast-table .forecast-cell {
	position: absolute;
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

#forecast-table .temperature {
	display: inline-block;
	min-width: 33.3333333333%;
	font-size: 80%;
	font-weight: bold;
	border-radius: 0.25em;
}

/* Semi-transparent background. Ensure all content stays within border, and
   that background is not applied to padding. */ 
.background {
	background-color: rgba(255, 255, 255, 0.33333333333);
	box-sizing: border-box;
	background-clip: content-box;
	padding: 1px;
}

/*
Animations:

All transitions last the same time. Leave is immediate, move is delayed until
leave completes, and enter is delayed until move completes.
*/
#forecast-table .animate-cell {
	transition: transform 0.25s 0.25s ease-in-out, width 0.25s 0.25s ease-in-out, height 0.25s 0.25s ease-in-out; /* ng-move */
	-webkit-transition: -webkit-transform 0.25s 0.25s ease-in-out, width 0.25s 0.25s ease-in-out, height 0.25s 0.25s ease-in-out; /* ng-move */
}

#forecast-table .animate-cell.ng-enter {
	transition: opacity 0.25s 0.5s ease-in-out;
	-webkit-transition: opacity 0.25s 0.5s ease-in-out;
	opacity: 0;
}

#forecast-table .animate-cell.ng-enter-active {
	opacity: 1;
}

#forecast-table .animate-cell.ng-leave {
	transition: opacity 0.25s 0s ease-in-out;
	-webkit-transition: opacity 0.25s 0s ease-in-out;
	opacity: 1;
}

#forecast-table .animate-cell.ng-leave.ng-leave-active {
	opacity: 0;
}

#controls-menu.animate-menu.ng-enter,
#controls-menu.animate-menu.ng-leave {
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#controls-menu.animate-menu.ng-enter.ng-enter-active,
#controls-menu.animate-menu.ng-leave {
	opacity: 1;
}

#controls-menu.animate-menu.ng-enter,
#controls-menu.animate-menu.ng-leave.ng-leave-active {
	opacity: 0;
}

/* Weather icons */
[class^="wi-"]:before,
[class*=" wi-"]:before {
	font-size: 2em;
	display: block; /* Ensure weather icons appear on own line */
}