.temp40,
.temp39,
.temp38,
.temp37,
.temp36,
.temp35,
.temp34,
.temp33,
.temp32,
.temp31,
.temp30,
.temp29,
.temp28,
.temp27,
.temp26,
.temp25
{
	background-color: #ff8700;
}

.temp24,
.temp23,
.temp22
{
	background-color: #ff9b25;
}

.temp21,
.temp20,
.temp19
{
	background-color: #ffb230;
}

.temp18,
.temp17,
.temp16
{
	background-color: #ffcd30;
}

.temp15,
.temp14,
.temp13
{
	background-color: #ffdc36;
}

.temp12,
.temp11,
.temp10
{
	background-color: #fff83b;
}

.temp9,
.temp8,
.temp7
{
	background-color: #defc4e;
}

.temp6,
.temp5,
.temp4
{
	background-color: #c3ff5d;
}

.temp3,
.temp2,
.temp1
{
	background-color: #aaffaa;
}

.temp0
{
	background-color: #69c3ff;
}

.temp-1,
.temp-2,
.temp-3,
.temp-4,
.temp-5,
.temp-6,
.temp-7,
.temp-8,
.temp-9,
.temp-10,
.temp-11,
.temp-12,
.temp-13,
.temp-14,
.temp-15,
.temp-16,
.temp-17,
.temp-18,
.temp-19,
.temp-20,
.temp-21,
.temp-22,
.temp-23,
.temp-24,
.temp-25,
.temp-26,
.temp-27,
.temp-28,
.temp-29,
.temp-30
.temp-31,
.temp-32,
.temp-33,
.temp-34,
.temp-35,
.temp-36,
.temp-37,
.temp-38,
.temp-39,
.temp-40 {
	background-color: #69c3ff;
}